<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./chat.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div id="container">
      <aside>
        <header>
          <input type="text" placeholder="search" />
        </header>
        <ul>
          <li>
            <img src="#" alt="" />
            <div>
              <h2>AKAY</h2>
              <h3>
                <span class="status orange"></span>
                offline
              </h3>
            </div>
          </li>
          <li>
            <img src="#" alt="" />
            <div>
              <h2>VENOM</h2>
              <h3>
                <span class="status green"></span>
                online
              </h3>
            </div>
          </li>
        </ul>
      </aside>
      <main>
        <header>
          <img src="./otaku.png" style="height: 50px" alt="" />
          <div>
            <h2>Chat with VENOM</h2>
          </div>
          <img
            src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1940306/ico_star.png"
            alt=""
          />
        </header>
        <ul id="chat">
          <li class="you">
            <div class="entete">
              <span class="status green"></span>
              <h2>VENOM</h2>
              <h3>10:12AM, Today</h3>
            </div>
            <div class="triangle"></div>
            <div class="message">
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
              commodo ligula eget dolor.
            </div>
          </li>
          <li class="me">
            <div class="entete">
              <h3>10:12AM, Today</h3>
              <h2>VENOM</h2>
              <span class="status blue"></span>
            </div>
            <div class="triangle"></div>
            <div class="message">
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
              commodo ligula eget dolor.
            </div>
          </li>
          <li class="me">
            <div class="entete">
              <h3>10:12AM, Today</h3>
              <h2>VENOM</h2>
              <span class="status blue"></span>
            </div>
            <div class="triangle"></div>
            <div class="message">OK</div>
          </li>
        </ul>
        <footer>
          <form id="chat-form">
            <input name="message" placeholder="Type your message" />
            <button
              class="btn btn-outline-primary btn-sm"
              type="submit"
              href="#"
              style="opacity: 0.6"
            >
              Send
            </button>
          </form>
        </footer>
      </main>
    </div>
  </body>
  <script src="./chat.js"></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.1.3/axios.min.js"
    integrity="sha512-0qU9M9jfqPw6FKkPafM3gy2CBAvUWnYVOfNPDYKVuRTel1PrciTj+a9P3loJB+j0QmN2Y0JYQmkBBS8W+mbezg=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  ></script>
</html>
