* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to right, #6d7d85, #d0e2d0, #725c75);
  font-family: "Poppins", sans-serif;
  overflow: hidden;
}

.container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 7rem;
  padding: 0 2rem;
}

.login-content {
  margin: 10px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

form {
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  width: 360px;
  padding: 20px;
  border-radius: 30px;
  background-image: linear-gradient(to right, #dbfbf1, #c6ddc6, #dbfbf1);
}

.login-content img {
  height: 100px;
}

.login-content .input-div {
  position: relative;
  display: grid;
  grid-template-columns: 7% 93%;
  margin: 25px 0;
  padding: 5px 0;
  border-bottom: 2px solid #d9d9d9;
}

.i {
  color: #d9d9d9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-div > div {
  position: relative;
  height: 45px;
}

.input-div > div > input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background: none;
  padding: 0.5rem 0.7rem;
  font-size: 1.2rem;
  color: #555;
  font-family: "poppins", sans-serif;
}

a {
  /* display: block; */
  text-align: right;
  text-decoration: none;
  color: #999;
  font-size: 0.9rem;
  transition: 0.3s;
}

.new-user:hover {
  color: #38d39f;
}

a:hover {
  color: rgb(248, 84, 84);
}

.btn {
  display: block;
  width: 100%;
  height: 50px;
  border-radius: 25px;
  outline: none;
  border: none;
  background-image: linear-gradient(to right, #164c82, #51d557, #a3cfc0);
  background-size: 200%;
  font-size: 1.2rem;
  color: #fff;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  margin: 1rem 0;
  cursor: pointer;
  transition: 0.5s;
}
.btn:hover {
  background-position: right;
}
